@{
    ViewBag.Title = "title";
}

<div class="container project-container">

    <!-- Project Title & Foto-->
    <div class="row">
        <div class="col col-md-3">
            <div class="card w-100 h-100">
                <div class="card-body">
                    <a asp-action="Index" asp-route-id="@Globals.UserId" class="btn btn-lg btn-warning mb-4 w-100">
                        Back
                    </a>
                </div>
            </div>
        </div>


        <div class="col col-md-9">
            <div class="card w-100 h-100">
                <div class="card-body">
                    <h5 class="card-title">Project: @Model.ProjectTitle</h5>
                    <form method="post">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" name="title" class="form-control js-title" id="title">
                        </div>
                        <div class="form-group">
                            <label for="minAmount">Amount</label>
                            <input type="number" name="minAmount" class="form-control js-amount" id="minAmount">
                        </div>
                        <div class="form-group">
                            <label for="quantity">Quantity</label>
                            <input type="number" name="quantity" class="form-control js-quantity" id="quantity" placeholder="Leave empty for unlimited">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea name="description" class="form-control js-description" id="description" rows="8"></textarea>
                        </div>
                        <input type="hidden" name="projectId" class="js-projectId" value="@Model.ProjectId"/>
                        <button type="button" class="btn btn-lg btn-warning js-createrewardpackage">Create</button>

                        <div class="alert alert-success mt-3 js-create-reward-success-alert" role="alert" style="text-align:center">
                            Reward Package created successfully
                        </div>

                        <div class="alert alert-danger mt-3 js-create-reward-fail-alert" role="alert" style="text-align:center">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>