@model Crowdfund.Web.Models.Dashboard.ProjectInfoViewModel
@{
    ViewData["Title"] = "Create Images";
}

<div class="container project-container">
    

    <!-- Project Title & Foto-->
    <div class="row">
        <div class="col col-md-3">
            <div class="card w-100 h-100">
                <div class="card-body">
                    <a asp-action="Index" asp-route-id="@Globals.UserId" class="btn btn-lg btn-warning mb-4 w-100">
                        Back
                    </a>
                    <button class="btn btn-sm btn-secondary mb-4 w-100">
                        Backed Project
                    </button>
                </div>
            </div>
        </div>


        <div class="col col-md-9">
            <div class="card w-100 h-100">
                <div class="card-body">
                    <h5 class="card-title">Project: @Model.ProjectTitle</h5>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="d-flex justify-content-end mb-3">
                                <button id="addMedia" type="button" class="btn btn-warning">Add Row</button>
                            </div>
                            <form method="post">
                                <div id="inputFormRow">
                                    <div class="input-group mb-3">
                                        <input type="hidden" name="projectId" value="@Model.ProjectId"/>
                                        <input type="text" name="url[]" class="form-control m-input" placeholder="Enter URL">
                                        <div class="input-group-append">
                                            <button id="removeRow" type="button" class="btn btn-danger">Remove</button>
                                        </div>
                                    </div>
                                </div>
                                <div id="newRow"></div>
                                <button type="submit" class="btn btn-lg btn-warning">Create</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>